
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
a span:hover {
    transition: all 0.5s;
    transform: translateX(10px);
    overflow: hidden;
}

#header {

    background: repeating-linear-gradient(#0ADAFF, #040b14, #040b14, #040b14, #040b14, #16161D);
}

#footer {

    background: repeating-linear-gradient(#16161D, #040b14, #040b14);
}
